@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* tab on click css */
#tab-button:hover{
    background-color:#FF1F3D;
    color: white;

}